header {
    height: 81px;
    background-color: $white;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid #b3b3b3;

    @media screen and (max-width: $medium) {
        box-shadow: none;
    }
    .container-fluid {
        max-width: 1300px;
        height: 81px;
        position: relative;
        z-index: 1;

        .row {
            height: 81px;

            @media screen and (max-width: $medium) {
                height: auto;
                background-color: $navy;
                position: absolute;
                top: 81px;
                width: 100%;
                padding: 50px 0px 20px;
                text-align: center;
                transform: translateY(-100%);
                transform-origin: top;
                transition: .5s ease-in-out;
            }
            &.is-open {
                transform: translateY(0%);
            }
            div {
                height: 100%;
            }
        }
    }
}
.logo {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 5px;
    
    @media screen and (max-width: $medium) {
        display: none;
    }
}
.hamburger {
    display: none !important;
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 3;

    @media screen and (max-width: $medium) {
        display: block !important;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        opacity: 1 !important;
    }
    &.is-active {
        &:hover {
            opacity: 1 !important;
        }
    }
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: lighten($navy, 10%) !important;
}
nav {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: $medium) {
        display: block;
    }
    a {
        font-size: 18px;
        color: $navy;
        font-weight: 500;
        height: 81px;
        line-height: 81px;
        padding: 0px 20px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        transition: .2s ease-in-out;
        
        @media screen and (max-width: $medium) {
            display: block;
            height: auto;
            line-height: initial;
            padding: 10px;
            color: white;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 0px;
            background-color: $navy;
            transition: .2s ease-in;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 0px;
            background-color: $navy;
            transition: .2s ease-in;
        }
        &:hover, &:focus, &:active {
            text-decoration: none;
            color: $navy;

            @media screen and (max-width: $medium) {
                background-color: darken($navy, 5%);
                color: $white;
            }
            &:before, &:after {
                height: 5px;

                @media screen and (max-width: $medium) {
                    height: 0px;
                }
            }
        }
    }
}
.mobile-header {
    width: 100%;
    height: 81px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    background-color: $white;
    display: none;
    border-bottom: 1px solid #b3b3b3;

    @media screen and (max-width: $medium) {
        display: block;
    }
    + .container-fluid {
        width: 100%;
    }
    &__logo {
        width: 107px;
        margin: 5px auto 0px;
    }
}
.trips-subnav {
    background-color: #3e92c6;
    padding: 20px 0px;
    position: relative;
    transform: translateY(-100%);
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: .3s ease-in-out;
    display: none;

    @media screen and (max-width: $medium) {
        transform: translateY(0%);
    }
    @media screen and (max-width: 750px) {
        position: relative;
        margin-bottom: -50px;
        height: 100%;
        max-height: 58px;
        overflow: hidden;
        transition: .5s ease;
    }
    @media screen and (max-width: 400px) {
        max-height: 55px;
    }
    &.nav-down {
        transform: translateY(0%);
    }
    &.is-open {
        @media screen and (max-width: 750px) {
            max-height: 20em;
        }
    }
    .trip-types {
        display: none;
        color: $white;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid $white;
        margin-bottom: 10px;
        cursor: pointer;

        @media screen and (max-width: 750px) {
            display: block;
        }
        @media screen and (max-width: 400px) {
            font-size: 18px;
        }
        .fa-bars {
            margin-right: 7px;

            @media screen and (max-width: 400px) {
                margin-right: 5px;
            }
        }
    }
    .container-fluid {
        max-width: 1300px;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $small) {
            width: 100%;
        }
        .row {
            @media screen and (max-width: 750px) {
                display: block;
            }
            .col-sm-5, .col-sm-2 {
                @media screen and (max-width: 750px) {
                    max-width: 100%;
                }
            }
        }
    }
    nav {
        @media screen and (max-width: $medium) {
            display: flex;
        }
        @media screen and (max-width: 750px) {
            display: block;
        }
        a {
            height: auto;
            line-height: inherit;
            color: $white;
            padding: 0px;
            background-color: transparent;

            @media screen and (max-width: 750px) {
                padding: 7px 10px;
            }
            &:before {
                display: none;
            }
            &:after {
                background-color: $white;
                height: 2px;
                bottom: 0px;
                opacity: 0;
            }
            &:hover {
                @media screen and (max-width: 750px) {
                    background-color: darken(#3e92c6, 10%);
                }
                &:after {
                    opacity: 1;

                    @media screen and (max-width: 750px) {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
.trips-page {
    .trips-subnav {
        display: block;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    nav {
        justify-content: space-around;
    }
}
@supports (-ms-accelerator: true) {
    nav {
        justify-content: space-around;
    }
}
@supports (-ms-ime-align: auto) {
    nav {
        justify-content: space-around;
    }
}