* {
    box-sizing: border-box !important;
}
body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    line-height: 1.15;
    font-family: $roboto;
    color: $black;
    background-image: url('../img/pattern-bg.jpg');
    background-attachment: fixed;
    overflow-x: hidden;
}
.browserupgrade {
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    position: fixed;
    top: 0px;
    background-color: $navy;

    p {
        color: $white;
        margin-bottom: 0px;
    }
    .fa-times {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        cursor: pointer;
        color: $white;
        font-size: 24px;
    }
}
h1 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;

    @media screen and (max-width: $medium) {
        font-size: 30px;
    }
}
h3 {
    font-size: 26px;
    font-weight: bold;

    @media screen and (max-width: $medium) {
        font-size: 22px;
    }
}
p {
    font-size: 18px;
}
.container-fluid {
    width: 90%;
    position: relative;
    z-index: 2;
}
.row {
    margin-top: 40px;

    &:first-of-type {
        margin-top: 0px;
    }
}
main {
    padding: 100px 0px 50px;
    background-color: $white;

    @media screen and (max-width: $medium) {
        padding: 70px 0px 50px;
    }
}